@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
img,
video {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media screen and (min-width: 1024px) {
  .hideIcon {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hideNav {
    display: none;
  }
}
.menuBar {
  margin-top: 17px;
  right: -15px;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 10px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 7px;
}
h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 7px;
}
h4 {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 7px;
}
h5 {
  font-size: 0.5em;
  font-weight: bold;
  line-height: 7px;
}

/* Add more for h3, h4, etc., if needed */
